/* ======== RESET =========*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* ======== LAYOUT =========*/

body {
    background-color: var(--body-bg-color);
}

.LearningRoads {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.RoadButton {
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header {
    background-color: var(--header-bg-color);
    height: 120px;
    width: 100%;
}

.Logo {
    width: 50px;
    height: 50px;
}

.Content {
    flex-direction: column;
    width: 100%;
}

.Message  {
    padding-top: 50px;
    height: 500px;
    flex-direction: column;
    width: 100%;
    color: var( --text-color)
    
}

.Title {
    padding: 10px;
    font-size: 65px;
    line-height: 4rem;
    @media screen and (max-width: 750px) {
        font-size: 45px;
        line-height: normal;
     }
}

.Description {
    padding-top: 45px;
    padding: 10px;
}


/*FAZER UM BREAKPOINT, SE NÃO A APLICAÇÃO TODA QUEBRA
MUDAR A DIV PARA QUANDO A TELA FOR MENOR QUE 909PX
*/

.FooterImage {
    width: 550px;
    height: 500px;
    @media screen and (max-width: 1000px) {
       width: 100%;
       height: 400px;
    }
}
/*Estilos referentes ao Sobre o site(About WebSite)*/
.AboutWebsite{
    padding: 10px;
    margin-top: 130px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    @media screen and (max-width: 1000px) {
       flex-direction: column;
    }
}
.AboutWebsite_Text_Title {
    padding-bottom: 50px;
    font-size: 40px;
}
.AboutWebsite-Text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Estilos referentes ao Como funciona(How-it-Works)*/
.How-it-Works{
    margin-top: 50px;
    padding: 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
     }
}

.How-it-Works-Text-Title {
    padding-bottom: 50px;
    font-size: 40px;
}

.How-it-Works-Text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Estilos referentes aos Objetivos(Objectives)*/
.Objectives{
    margin-top: 50px;
    padding: 10px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
     }
}
.Objectives-Text-Title {
    padding-bottom: 50px;
    font-size: 40px;
}

.Objectives-Text{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}