/* ======== MAIN CONTENT LAYOUT =========*/

.MainContent{
    width: 80%;
    margin-top: 10px;

    border: 5px solid var(--darker-color);
    border-radius: 10px;
}

/* ======== ROADBUTTON LAYOUT =========*/

.None {
    display: none;
}

.Grid {
    display: grid;
}

.Flex {
    display: flex;
}

/* ======== SUBLEARNINGROADS LAYOUT =========*/

.SubLearningRoads{
    width: 100%;
    display: flex;
    justify-content: center;
}

.SubLearningRoads button {
    margin: 30px 10px;
}

/* ======== CARDS LAYOUT =========*/

.CardLine {
    width: 90%;
    margin: 0 auto;
    padding: 2px;
    border: none;
    background-color: var(--darker-color);
    border-radius: 10px;
}

.Cards {
    width: 100%;
    place-items: center;
    margin: 2em 0;
    z-index: 0;
}

.Card {
    width: 100px;
    position: relative;
    margin: 20px;
}

.TitleCard {
    inset: 0;
    position: absolute;
    transform: translate3d(0%, 80%, 0);
    border-radius: 25px;
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

.BackGroundCard img {
    aspect-ratio: 9/16;
    object-fit: cover;
    border-radius: 8px;
}

.Card:hover .BackGroundCard{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    filter: blur(1px);
    box-shadow: 2px 32px 35px -8px rgba(0, 0, 0, 0.808);
}

.Card:hover .TitleCard{
    transform: translate3d(0%, 10%, 0); 
}

.BackGroundCard, .TitleCard {
    transition: all 0.5s;
}

/* ======== RESPONSIVIDADE DOS CARDS =========*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .Cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .Cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Cards {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Extra large devices (large laptops and desktops, 1450px and up) */
@media only screen and (min-width: 1450px) {
    .Cards {
        grid-template-columns: repeat(6, 1fr);
    }
}