@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    /* fonts type */
    --gill_sans-font: 'Gill Sans MT', sans-serif;
    --poppins-font: 'Poppins', sans-serif;

    /* colors */
    --bgcolor: #fffaff;
    --contrast-color: #332C33;
    --ligther-color: #dfa2f7;
    --darker-color: #612F74;
}